In [1]:
#Introduction to Python

In [3]:
5+2;

In [2]:
5>2

True

In [5]:
#Trying to execute the print command
print("hello world!!")

hello world!!

In [8]:
if(5>2):
    print("hello world");

hello world

In [20]:
if(5<2):
    print("hello world")
if(2<5):
    print("hello world from the other side")

hello world from the other side

In [21]:
if(5<2):
    print("hello world")
    if(2<5):
        print("hello world from the other side")

In [24]:
name = "Vaibhav"
age = 35
country = "India"
weatherincelsius = 14.0

print(type(name))
print(type(age))
print(type(weatherincelsius))

<class 'str'>
<class 'int'>
<class 'float'>

In [25]:
age = str(35)

print(type(age))

<class 'str'>

In [26]:
Age = 35

In [27]:
print(age)
print(Age)

35
35

In [28]:
print(type(age))
print(type(Age))

<class 'str'>
<class 'int'>

In [29]:
name, age, country = "Vashishtha", 34, 'Singapore'

In [32]:
name = age = country = "Vashishtha"

In [33]:
teacher = ["Vashishtha", 34, 'Singapore']
name, age, country = teacher

In [ ]:
#Output the combination of variables

In [37]:
#Lists
thislist = ["abhishek", "vincent", "gabriel"]
print(len(thislist))

list1 = ["abhishek", "vincent", "gabriel"]
list2 = [1, 2, 2, 3, 4]
list3 = [True, False, False]

thislist = list(("abhishek", "vincent", "gabriel")) 
print(thislist)

print(thislist[1])

thislist[1] = "kannan"
print(thislist)

thislist[1:2] = ["desmond", "melvin"]
print(thislist)

3
['abhishek', 'vincent', 'gabriel']
vincent
['abhishek', 'kannan', 'gabriel']
['abhishek', 'desmond', 'melvin', 'gabriel']

In [34]:
#Functions

def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Vaibhav", "Vashishtha")

Vaibhav Vashishtha

In [38]:
#Loops

i = 1
while i < 6:
  print(i)
  i += 1

for x in "banana":
  print(x)

students = ["desmond", "melvin"]
for x in students:
  if x == "desmond":
    break
  print(x)

1
2
3
4
5
b
a
n
a
n
a